/* Cabeçalho */

header {
    background-color: blue;
    font-weight: bold;
}

.nav-item .nav-link.active {
    background-color:#FBFEFB;
    color: black;
}

.nav-link, .nav-link:hover {
    color: black;
}

.carousel-inner{
    max-height: 600px;
}

.carousel-inner img{
    width: 840px;
    height: 960px;
}

/* sobre */

.text-colored {
    color: blue;
}

.section-title {
    padding-top: 100px;
    font-size: 3em;
}

/* serviços*/

#servicos {
    background-color: #fffef6;
}

#servicos img{
    max-height: 400px;
    height: 100%;
}

#servicos button.active {
    background-color:#D0B8AC;
}

/* footer */

footer {
    background-color: #EFE5DC;
}

.midias-sociais ul {
    display: flex;
    justify-content: center;
}

.midias-sociais li {
    list-style: none;
}

.midias-sociais i {
    color: black;
}

.midias-sociais i:hover {
    color: #7a7a7a;
}

section {
    padding: 15px 0;
}

#inicio {
    padding-top: 15px;
}
